body{
  background-color:#070F2B;
  color:#FDFDFD;
  font-family:"Verdana", sans-serif;
}

#titulo{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}


#titulo > p{
  margin-top:0;
  margin-bottom:10px;
  
}
#titulo >h1{
  margin-bottom:5px;
}

* {
  box-sizing: border-box;
}

#img-div{
  display:flex;
  flex-direction:column;
   align-items:center;
   justify-content:center;

}

#image{
  max-width:100%;
  height:auto;
  margin:0 auto;
  border-radius: 15px;
  }
 
#img-caption{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size:11px;
}
#img-caption > p{
  margin:5px;
}

#tribute-info >p {
  max-width:800px;
  margin:0 auto;
  padding-top:0;
  text-align: justify;
}

h2{
  max-width:1000px;
  margin:0 auto;
  text-align: center;
  padding: 15px;
}

#p2{
  max-width:800px;
  margin:0 auto;
  padding-top:0;
  text-align: justify;
}

a{
  color:#535C91;
}

a:hover{
  color:#9290C3;
}

blockquote{
  margin-top:0;
  width: 650px;
}


h1,
h2,
h3,
h4,
h5,
h6{
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

header, footer,
main,
section,
article {
  container-type: inline-size;
}